@charset "UTF-8";

body {
    background-color: #593E25;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

img {
    max-width: 21px;
}

#nome {
    background-image: url(images/pessoa.png);
    background-position: left;
}